.header {
  align-items: center;
  background: #ffffffee;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid #eee;
  display: flex;
  height: 49px;
  position: sticky;
  top: 0;
  width: 100%;
}
.h2 {
  font-size: 21px;
  font-weight: 800;
  padding-left: 15px;
}

.nav {
  background: #ffffffee;
  bottom: 0;
  border-top: 1px solid #eee;
  display: flex;
  height: 49px;
  position: sticky;
  width: 100%;
}

.nav a {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  justify-content: center;
}

.nav a:hover {
  background: radial-gradient(#0099ff11 15%, transaparent 16%);
  background-size: 180px 180px;
  background-position: center;
}
.section {
  flex: 1;
}
